# GCP
GCP_PROJECT=your-project-id
GCP_REGION=europe-central2
GCS_BUCKET=de-zoomcamp-energy-raw
SPARK_TEMP_BUCKET=de-zoomcamp-energy-raw-spark-temp
BQ_DATASET_RAW=energy_raw
BQ_DATASET_MARTS=energy_marts
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json

# ENTSO-E (register free at https://transparency.entsoe.eu/)
ENTSOE_API_KEY=

# Kestra
KESTRA_URL=http://localhost:8080
